<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Wallet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreateLogin</display-name>
    <servlet-name>CreateLogin</servlet-name>
    <servlet-class>com.infinite.account.CreateLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateLogin</servlet-name>
    <url-pattern>/CreateLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Depositam</display-name>
    <servlet-name>Depositam</servlet-name>
    <servlet-class>com.infinite.account.Depositam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Depositam</servlet-name>
    <url-pattern>/Depositam</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.infinite.account.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Compare</display-name>
    <servlet-name>Compare</servlet-name>
    <servlet-class>com.infinite.account.Compare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compare</servlet-name>
    <url-pattern>/Compare</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreAcc</display-name>
    <servlet-name>CreAcc</servlet-name>
    <servlet-class>com.infinite.account.CreAcc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreAcc</servlet-name>
    <url-pattern>/CreAcc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowBalance</display-name>
    <servlet-name>ShowBalance</servlet-name>
    <servlet-class>com.infinite.account.ShowBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowBalance</servlet-name>
    <url-pattern>/ShowBalance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransfer</display-name>
    <servlet-name>FundTransfer</servlet-name>
    <servlet-class>com.infinite.account.FundTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransfer</servlet-name>
    <url-pattern>/FundTransfer</url-pattern>
  </servlet-mapping>
</web-app>